/******************* Body ********************/
* {
	background-color: #050505 !important;
	color: #10e0f0 !important;
}
span, div, ul, li {
	color: #10e0f0 !important;
}
.clearfix, .coverBorder, a > div, .stage, .stage *, .fbPhotosPhotoTagboxes,
.fbPhotosPhotoTagboxes *, .fbTimelineNavigationWrapper .tab .frame,
.fbTimelineNavigationWrapper .tab .frame .mat {
	background: transparent !important;
	background-color: transparent !important;
}

/* Links */
a {
	color: #3ff !important;
	font-weight: bold;
}
a:hover {
	background-color: #444 !important;
	color: #ccc !important;
}
.uiSideNav .sideNavItem .noCount, a span, .uiButton,
.uiSideNav .sideNavItem .hasCount,
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory {
	background: transparent !important;
}
.item, #pageNav #navAccount .navSubmenu, .itemAnchor {
	border: none !important;
}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover {
	background: transparent !important;
	border-left: 2px solid #ddd;
}

/******************* Top Bar *****************/
#blueBar {
	background-color: black !important;
}
#jewelContainer {
	float: right;
}
#pageNav {
	float: right;
}
#headNav .uiSearchInput button {
	background-color: #222;
}

/* Input */
#navSearch .uiSearchInput {
	background-color: #222;
	border-top: none !important;
}
#navSearch .uiSearchInput input {
	background-color: #222;
}

/******************* Navigation *************/
.navigation {
	background-color: black !important;
	border: 1px dashed #ccc;
}

/******************* Content ****************/
.hasExpandedComposer .uiStream .uiStreamHeader {
	padding-top: 5px !important;
	border-top: none !important;
}

/******************* Profile ****************/
#fbProfilePicSelector {
	border: 1px solid #ddd;
}
#fbProfilePicSelector .uiButtonText {
	color: #ddd !important;
}
#fbProfileCover .fbTimelineSelectorButton, #fbProfileCover
.fbTimelineSelectorButton:focus, #fbProfileCover
.fbTimelineSelectorButton:hover, #fbProfileCover .fbProfileCoverPhotoSelector
.uiSelectorMenuWrapper, #fbProfileCover .fbTimelineProfilePicSelector
.uiSelectorMenuWrapper {
	opacity: 1 !important;
}